<!doctype html>
<html lang="de" class="no-js">
<head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="favicon.ico">

    <title>UHT Traktor</title>

    <!-- build:css styles/app.css -->
    <link rel="stylesheet" href="styles/app.css">
    <!-- endbuild -->

</head>

<body class="application">

<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="CoreController">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#uht-nav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">UHT Traktor</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="uht-nav">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#/news">News</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        Teams <span class="caret"></span></a>

                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#/teams/traktor-1">Traktor 1</a></li>
                        <li><a href="#/teams/traktor-2">Traktor 2</a></li>
                        <li><a href="#/teams/traktor-damen">Traktor Damen</a></li>
                        <li class="divider"></li>
                        <li><a href="#/teams/traktor-boys">Traktor Boys</a></li>
                        <li><a href="#/teams/traktor-girls">Traktor Girls</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        Verein <span class="caret"></span></a>

                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#/club/calendar">Jahresprogramm</a></li>
                        <li><a href="#/club/officials">Funktionäre</a></li>
                        <li><a href="#/club/documents">Dokumente</a></li>
                        <li><a href="#/club/facts-and-figures">Zahlen & Fakten</a></li>
                        <li><a href="#/club/awards">Auszeichnungen</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        Anlässe <span class="caret"></span></a>

                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#/events/doerferturnier">Dörferturnier</a></li>
                        <li><a href="http://www.funandsports.ch">Fun & Sports</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right padded-navbar-right" ng-cloak>
                <li class="dropdown" ng-if="isAuthenticated">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        {{user.firstName}} {{user.lastName}} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#/identity/logout"><span class="glyphicon glyphicon-user"></span> Logout</a></li>
                    </ul>
                </li>
                <li ng-if="!isAuthenticated">
                    <a href="#/identity/login"><span class="glyphicon glyphicon-user"></span> Anmelden</a></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="main-content">
    <div class="container-fluid" ng-view></div>
</div>

<!-- build:js app/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-deferred-bootstrap/angular-deferred-bootstrap.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js app/app.js -->
<!-- Bootstrapping -->
<script src="app/uht.module.js"></script>

<!-- API (always load .module.js first!) -->
<script src="app/api/api.module.js"></script>
<script src="app/api/identity.js"></script>
<script src="app/api/news.js"></script>

<!-- core (always load .module.js first!) -->
<script src="app/core/core.module.js"></script>
<script src="app/core/core.config.js"></script>
<script src="app/core/core.controller.js"></script>

<!-- news (always load .module.js first!) -->
<script src="app/news/news.module.js"></script>
<script src="app/news/news.config.js"></script>
<script src="app/news/news.controller.js"></script>
<!-- endbuild -->

</body>
</html>

